li.p-4.m-0.border-b.border-gray-200(class=["bg-gray-400", (active ? "font-semibold text-gray-900" : "text-gray-600 hover:text-gray-900")])
  = link_to label, path,
    class: ["block bg", (active ? "font-semibold text-gray-900" : "text-gray-600 hover:text-gray-900")]
