div.flex.justify-between.items-center.mb-4
  h1.mb-4.text-2xl.font-bold = product.name
  div.flex.gap-4
    = button_tag "Save", type: "submit", form: "product_form", class: "rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
    div.inline-block.rounded.bg-white.border.border-black.text-black.px-4.py-2
      =< link_to "Back", products_path

div id="#{dom_id product}" class="w-full flex flex-col rounded border border-gray-200 p-4 shadow-sm"
  == render "form", product: product

div.inline-block.rounded.bg-red-600.px-4.py-2.text-white.hover:bg-red-700.mt-4.float-right
  = button_to "Destroy", product, method: :delete
