header.flex.items-center.gap-6.border-b.border-gray-200.px-6.py-3
  .font-semibold
    = link_to "Store Test", root_path
  nav.flex.gap-4
    = link_to "Categories", categories_path, class: "text-gray-700 hover:text-gray-900"
